@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iranyekan/iran-yekan-100.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranyekan/iran-yekan-200.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iranyekan/iran-yekan-300.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/iranyekan/iran-yekan-400.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranyekan/iran-yekan-500.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/iranyekan/iran-yekan-600.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/iranyekan/iran-yekan-700.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/iranyekan/iran-yekan-800.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranyekan/iran-yekan-900.woff2") format("woff2");
}
