@import "tailwindcss";
@import "./base.css";

/* font */
@font-face {
  font-family: "IRANSans";
  src: url("/src/assets/font/Iranian.Sans.ttf_p30download.com/Fonts/irsans_p30download.com.ttf")
    format("ttf");
  font-weight: 700;
  font-style: normal;
}

/* componenet */

@layer components {
  * {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background: #cc7722;
      border-radius: 10px;
    }
  }

  /* btn */
  .btn {
    text-align: center;
    font-size: var(--text-lg);
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 5px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: row-reverse;
    gap: 10px;
    border-radius: var(--radius-sm);
    transition: var(--ease-in-out);
    box-shadow: var(--shadow-xs);
  }

  /* .cart{

  } */

  .same-h-w {
    @apply top-0 w-full h-260 z-0 object-cover;
  }

  /* nav */
  .div-nav {
    @apply z-10 absolute top-0 w-full px-30 py-10 flex items-center justify-between;
  }
  .navbar {
    @apply ml-250 w-3xl h-20 p-5 mr-10;
  }
  .nav {
    @apply flex justify-between items-center flex-row-reverse gap-10;
  }
  .nav-item {
    @apply flex flex-row items-center justify-center gap-3;
  }
  /* end of nav */

  .text-container {
    @apply absolute top-100 left-100 flex flex-col gap-3 justify-center items-center text-center;
  }

  /* search box */
  .search-box {
    @apply flex py-20 shadow bg-bg-color h-30 justify-center container mx-auto items-center border-3 border-primary rounded-lg flex-row;
  }
  .searchBar-nav {
    @apply flex w-375 justify-between items-center flex-row-reverse gap-30;
  }
  .searchBar-nav-item {
    @apply flex flex-row justify-center items-center gap-5;
  }
  /* end of search box */
  .Separator {
    @apply w-full h-60 bg-bg-color;
  }

  /* cartbox-1 */
  .cartbox-1 {
    @apply bg-secondary py-30 rounded-lg shadow flex flex-row-reverse gap-10 justify-center h-auto mx-30;
  }
  .cartext {
    @apply flex flex-col justify-end items-end gap-5;
  }
  .cart-slide {
    @apply flex justify-center w-7xl;
  }
  .cart-slides {
    @apply flex flex-row w-full justify-between items-center gap-10;
  }
  .carts-slide1-item {
    @apply flex flex-col justify-center items-center;
  }
  /* end of cartbox-1 */

  /* swiper */
  .container-text {
    @apply flex flex-row-reverse justify-between items-center px-30 w-full pb-15;
  }
  .swiper-css {
    @apply overflow-x-auto snap-x snap-mandatory w-550 h-150 mx-30  bg-secondary;
  }
  .track {
    @apply grid grid-flow-col auto-cols-[25%] gap-px;
  }
  .slide {
    @apply snap-start h-130 w-130 bg-white rounded-sm p-1.25 my-7.5  mx-5 shadow-xl;
  }
  .pic-swiper-1 {
    @apply w-full h-65 object-cover rounded-sm p-2;
  }
  .heart {
    @apply absolute top-5 left-5 rounded-xs bg-white p-2 shadow;
  }
  .text-icon {
    @apply flex my-4 flex-row text-right justify-end items-center;
  }
  /*end of  swiper */

  /* about niman */
  .about-container {
    @apply flex flex-row-reverse  justify-between relative;
  }
  .text-decor {
    @apply bg-primary p-13 rounded-lg w-137.5;
  }
  .text-decor-2 {
    @apply bg-white/50 shadow p-7 backdrop-blur-lg flex flex-row-reverse gap-5 justify-center items-center rounded-lg w-175 absolute top-128 right-20 z-20;
  }
  .price-pics {
    @apply flex flex-row justify-between px-10 py-5 relative h-250;
  }
  .carts-dec-2 {
    @apply w-full h-full text-right border-2 border-primary rounded-md;
  }
  /* end of about niman */

  /* reservation */
  .blur-cart {
    @apply bg-white/40 backdrop-blur-xl shadow-md w-5xl rounded-2xl p-10 text-center relative bottom-30 left-280 flex flex-row-reverse gap-8 items-center;
  }
  .cart-sugest {
    @apply flex mx-10 my-10 flex-row justify-start items-start;
  }
  .cart-design {
    @apply bg-amber-700 flex flex-col text-right h-2xl mb-200 w-100;
  }

  /* footer */
  .download-sec {
    @apply bg-primary flex flex-row-reverse justify-center items-center gap-10 rounded-lg mx-10;
  }
}

/* base */
@layer base {
  header {
    width: 100%;
    height: 70rem;
    position: relative;
  }
  body {
    color: var(--color-text-color);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  h1 {
    color: var(--color-text-white);
    font-size: 70px;
    font-weight: bold;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    direction: rtl;
  }
  h2 {
    color: var(--color-text-orange);
    font-size: 50px;
    font-weight: bold;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    direction: rtl;
  }
  h3 {
    color: var(--color-text-orange);
    font-size: 40px;
    font-weight: bold;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    direction: rtl;
  }
  h4 {
    color: var(--color-text-color);
    font-size: 30px;
    font-weight: bold;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    direction: rtl;
  }
  h5 {
    color: var(--color-text-color);
    font-size: 25px;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    direction: rtl;
    font-weight: bold;
  }
  p {
    color: var(--color-text-color);
    font-size: 20px;
    font-weight: 100;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.25;
    direction: rtl;
  }
  a {
    color: var(--color-text-white);
    font-size: 20px;
    font-weight: 100;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.3;
    direction: rtl;
  }

  li {
    font-size: var(--text-md);
    padding: 5px;
    color: var(--color-text-white);
    font-family: sans-serif, "IRANSans";
  }
}
