@import "tailwindcss";

@font-face {
  font-family: "IRANSans";
  src: url("/src/assets/font/Iranian.Sans.ttf_p30download.com/Fonts/irsans_p30download.com.ttf")
    format("ttf");
  font-weight: 700;
  font-style: normal;
}

/* colors */
/* theme */
@theme {
  --color-bg-color: #ffffff;
  --color-text-color: #000000;
  --color-primary: #cc7722;
  --color-secondary: #fffaf0;
  --color-blurcolor: #ffffff33;
  --color-shadow: rgba(0, 0, 0, 0.4);

  /*  FONT SIZES  */
  --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.2;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.3;
  --text-display: 4rem;
  --text-display--line-height: 1.1;

  /*  SPACING FOR PADDING & MARGIN */
  --spacing: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-huge: 10rem;

  /*  responsive  */
  --breakpoint-xs: 20rem; /* 320px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */

  /*  BORDER RADIUS  */
  --radius-none: 0;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;

  /*  SHADOWS  */
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

  /*  DROP SHADOWS  */
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);

  /*  BLUR  */
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;

  /*  EASING FUNCTIONS FOR ANIMATIONS OR TRANSITION */
  --ease-linear: linear;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer components {
  * {
    @font-face {
      font-family: "IRANSans";
      src: url("/src/assets/font/Iranian.Sans.ttf_p30download.com/Fonts/irsans_p30download.com.ttf")
        format("ttf");
      font-weight: 700;
      font-style: normal;
    }
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background: #cc7722;
      border-radius: 10px;
    }
  }
  .same-h-w {
    @apply top-0 w-full h-260 z-0 object-cover;
  }
  .div-nav {
    @apply z-10 absolute top-0 w-full px-20 py-10 flex items-center justify-between;
  }
  .btn {
    @apply w-auto transition ease-out duration-700  shadow gap-3 rounded-md h-auto bg-primary px-5 py-5 flex flex-row-reverse justify-center text-center items-center text-2xl;
  }
  .navbar {
    @apply flex justify-between items-center flex-row-reverse gap-15;
  }
  .nav {
    @apply flex justify-between items-center flex-row-reverse gap-10 px-20;
  }
  .nav-item {
    @apply flex flex-row items-center justify-center gap-2;
  }
  .text-container {
    @apply absolute  h-110 flex flex-col justify-center items-center text-bg-color text-center bottom-100 left-160;
  }
  .search-box {
    @apply flex py-20 shadow bg-bg-color h-30 w-2000 justify-center container mx-auto items-center border-3 border-primary rounded-2xl flex-row;
  }
  .searchBar-nav {
    @apply flex w-7xl justify-between items-center flex-row-reverse gap-20;
  }
  .searchBar-nav-item {
    @apply flex text-3xl font-serif font-bold flex-row justify-center items-center gap-5;
  }
  .cartbox-1 {
    @apply bg-secondary px-10 py-35 rounded-3xl shadow flex flex-row-reverse gap-10 justify-center h-auto mx-20 mt-70;
  }
  .cartext {
    @apply flex flex-col justify-between items-end gap-5 text-right;
  }
  .cart-slide {
    @apply flex justify-center w-7xl;
  }
  .cart-slides {
    @apply flex flex-row w-full justify-between items-center gap-10;
  }
  .carts-slide1-item {
    @apply flex flex-col justify-center items-center;
  }
  /* swiper */
  .swiper-css {
    @apply overflow-x-auto snap-x snap-mandatory w-560 h-125 mx-20  bg-secondary;
  }
  .track {
    @apply grid grid-flow-col auto-cols-[20%] gap-px;
  }
  .slide {
    @apply snap-start h-102.5 w-100  bg-white rounded-[10px] p-1.25 my-7.5  mx-5 shadow-xl;
  }
  .pic-swiper-1 {
    @apply w-full h-55 object-cover rounded-2xl p-2;
  }
  .heart {
    @apply absolute top-5 left-5 rounded-sm bg-white p-2 shadow;
  }
  .text-icon {
    @apply flex mb-2 flex-row text-right justify-end items-center;
  }
  .about-container {
    @apply flex flex-row-reverse gap-5 my-30 mx-15 justify-center items-center h-300;
  }
  .text-decor {
    @apply bg-primary text-bg-color font-bold text-2xl text-center p-10 rounded-2xl;
  }
  .text-decor-2 {
    @apply bg-white/40 backdrop-blur-lg flex flex-row-reverse gap-3 justify-center items-center p-3 shadow-2xl rounded-2xl w-3xl absolute bottom-5 right-0 z-50 text-center;
  }
  .price {
    @apply mt-50 container text-center mx-auto text-5xl font-bold font-sans text-primary;
  }
  .price-pics {
    @apply flex flex-row justify-between px-10 py-5 relative h-250;
  }
  .carts-dec-2 {
    @apply w-full h-full text-right border-2 border-primary rounded-md;
  }
  .blur-cart {
    @apply bg-white/40 backdrop-blur-xl shadow-md w-3xl p-8 rounded-2xl relative bottom-50 left-300 text-2xl text-right flex flex-row-reverse gap-8 items-center;
  }
  .cart-sugest {
    @apply flex mx-10 my-10 flex-row justify-start items-start;
  }
  .cart-design {
    @apply bg-amber-700 flex flex-col text-right h-2xl mb-200 w-100;
  }
}

@layer base {
  body {
    color: var(--color-text-color);
  }
  h1 {
    color: var(--color-primary);
    font-size: 60px;
    font-weight: 900;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    font-style: normal;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.9;
    direction: rtl;
  }
  h2 {
    color: var(--color-bg-color);
    font-size: 60px;
    font-weight: bold;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    font-style: normal;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.9;
    direction: rtl;
  }
  h3 {
    color: var(--color-text-color);
    font-size: 50px;
    font-weight: bold;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    font-style: normal;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.9;
    direction: rtl;
  }
  h4 {
    color: var(--color-text-color);
    font-size: 40px;
    font-weight: bold;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    font-style: normal;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.9;
    direction: rtl;
  }
  h5 {
    color: var(--color-text-color);
    font-size: 20px;
    font-weight: 200;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    font-style: normal;
    justify-content: right;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.9;
    direction: rtl;
    text-align-last: right;
  }
  p {
    color: var(--color-text-color);
    font-size: 25px;
    font-weight: 200;
    font-display: swap;
    font-family: sans-serif, "IRANSans";
    font-style: normal;
    justify-content: right;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.3;
    direction: rtl;
    text-align-last: right;
  }
  a {
    color: var(--color-bg-color);
    font-size: 26px;
    font-weight: bold;
    font-style: oblique;
    font-family: sans-serif, "IRANSans";
    font-style: normal;
    text-align: justify;
    line-height: 1.9;
    direction: rtl;
  }
}
