@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* colors */
@theme {
  --color-bg-color: #ffffff;
  --color-text-color: #000000;
  --color-primary: #cc7722;
  --color-secondary: #fffaf0;
  --color-blurcolor: #ffffff33;
  --color-shadow: rgba(0, 0, 0, 0.4);
}

@layer components {
  .btn {
    @apply w-auto transition ease-out duration-700  shadow-2xl gap-3 rounded-md h-auto bg-primary px-5 py-3 flex flex-row-reverse justify-center items-center;
  }
  .swiper {
    @apply w-full bg-amber-300 py-10 h-auto flex flex-row row-span-4 items-center;
  }
  .swiper-wrapper {
    @apply bg-amber-200;
  }
  .swiper-slide {
    @apply w-[360px] h-[460px];
  }
  .system-g {
    @apply flex flex-col;
  }
  .cart-sugest {
    @apply flex mx-10 my-10 flex-row justify-start items-start;
  }
  .cart-design {
    @apply bg-bg-color m-10 flex flex-col text-right;
  }
}
